@model List<CompanyManagementSystem.Entities.Concrete.ComplexType.DuyuruDetails>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CoreTemplate.cshtml";
}
@if (TempData["Success"] != null)
{
    <script type="text/javascript">
    Swal.fire(
         'Başarılı',
         '@TempData["Success"]',
         'success'
)

    </script>
}


<br />
@using (Html.BeginForm("DuyuruEkle", "Duyurular", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card border-info">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 style="text-align:center">Duyuru İşlemleri</h4>
                    <hr>
                </div>
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;">
                <div class="col-md-12">
                    <form>
                        <div class="form-group row">
                            <label for="username" class="col-4 col-form-label">Duyuru İçeriği</label>
                            <div class="col-8">
                                <textarea class="form-control" id="duyurucontext" name="duyurucontext" rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button name="submit" type="submit" class="btn btn-primary">Duyuru Ekle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
}


<br />
@*Duyuru Tablosu*@
<div class="card border-info">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4 style="text-align:center">Mevcut Duyurular</h4>
                <hr>
            </div>
        </div>
        <div class="row" style="margin-left:0px;margin-right:0px;">
            <div class="col-md-12">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th scope="col">Duyuru ID</th>
                            <th scope="col">Ad ve Soyad</th>
                            <th scope="col">Duyuru İçerik</th>
                            <th scope="col">Duyuru Durumu</th>
                            <th scope="col">Duyuruyu Sil</th>
                            <th scope="col">Duyuru Aktif/Pasif yap</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @Html.AntiForgeryToken()
                            <tr>
                                <td>@item.DuyuruId</td>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.DuyuruContext</td>
                                @if (@item.Durum == true)
                                {
                                    <td style="color:green">✓Aktif</td>
                                }
                                else
                                {
                                    <td style="color:red">X Pasif</td>
                                }
                                <td><a href="~/Duyurular/DuyuruSil/?duyuruId=@item.DuyuruId" id="persondeleteBtn" onclick="return confirm(this)"><i class="fas fa-trash-alt"></i>  Sil</a></td>
                                <td>
                                    <a href="/Duyurular/AktifYap/?duyuruId=@item.DuyuruId"><i class="fas fa-user-edit"></i> Aktif</a>
                                    <a href="/Duyurular/PasifYap/?duyuruId=@item.DuyuruId"><i class="fas fa-user-edit"></i> Pasif</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

<script>
    function confirm(persondeleteBtn) {
        if (persondeleteBtn.dataset.confirmed) {
            // The action was already confirmed by the user, proceed with server event
            persondeleteBtn.dataset.confirmed = false;
            return true;
        }
        else {
            event.preventDefault();
            Swal.fire({
                title: 'DİKKAT!',
                text: "Duyuruyu silmek istediğinize emin misiniz?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Onayla'
            }).then((result) => {
                if (result.value) {
                    persondeleteBtn.dataset.confirmed = true;
                    // Trigger button click programmatically
                    persondeleteBtn.click();
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Duyuru başarıyla silindi',
                        showConfirmButton: false,
                        timer: 4000
                    })
                }
            })
        }
    }

</script>

